# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# IDE / редакторы
.vscode/
.idea/
.env
